body {
  font-family: Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體,
    新細明體, Arial, sans-serif;
  background-color: #f9f9f9;

  .btn-primary {
    background-color: #565759;
    border-color: #565759;

    &:hover {
      background-color: #856237; //#565759;
      border-color: #856237;
    }
  }

  a {
    text-decoration: none !important;
    cursor: pointer;

  }
}

.link-style {
  text-decoration: underline !important;

  &:hover {
    text-decoration: none !important;
  }
}


.language-btn {
  padding: 0.2em 0.8em;
  margin-top: -1em;
  background-color: #ede4da;
  color: #52504a;

  &:hover {
    color: #000;
    background-color: #ddd5cc;
  }
}

.select-title {
  text-align: start;

  @include Large-size {
    text-align: end;
  }
}

.card-lg {
  width: 50em;

  .text-align {
    text-align: start;

    @include Small-size {
      text-align: center;
    }
  }
}

thead {
  span {
    display: block;
    width: 5em;

    @include Medium-size {
      width: 0;
    }
  }
}

.gary-bg {
  background-color: #e2e2e2;
}

.dropdown-menu {
  .dropdown-item {
    text-align: center;
  }
}

.col-form-label {
  padding-top: 0;
}

.interview-list-block {
  display: inline-block;

  @include Medium-size {
    display: block;
  }
}

.list-title {
  color: #565759;
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 1.2rem;
  margin-right: 1em;
  margin-left: 1em;
  padding: 0.3em 0.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.bg-light-blue {
  background-color: #e0f6ff;
}

.list-btn {
  border-radius: 0.25rem;
  width: 7.5em;
  margin: 0 0.5rem;
}

.table-btn {
  margin-bottom: 0.25rem;
  width: 3.75em;
}

.list-btn-group {
  .btn {
    margin-bottom: 0.5rem;
  }
}

.navbar-bg {
  background-color: #fff;
  border-bottom: solid 0.5em #4a955b;


  @include Large-size {
    border-bottom: none;
  }

  @include Large-size {

    background-color: #0b6e4f; // $primary;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $primary;

  &:hover {
    color: #525252;
  }

  @include Large-size {
    color: #fff;

    &:hover {
      color: #fffac9 !important;
    }

    &:visited {
      color: #fff;
    }
  }
}

.nav-tag-btn {
  letter-spacing: 0.1rem;
  margin-bottom: 0.5em;

  a {
    padding: 0.6em 2em;
    background-color: rgba(0, 0, 0, 0.06);

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    @include Medium-size {
      padding: 0.5em 2em;
    }
  }

  .active {
    color: #fff !important;
    background-color: #565759 !important;
    position: relative;

    &:after {
      display: none;

      @include Large-size {
        content: "";
        position: absolute;
        display: block;
        left: 50%;
        margin-left: -0.875em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1em 0.875em 0 0.875em;
        border-color: #555759 transparent transparent transparent;
      }
    }
  }
}

.card-header {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: bold;
  background-color: #5d5d5d;
}

.footer-text {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #52504a;

  .text-height {
    line-height: 1.7em;
  }
}

.footer-bg {
  line-height: 1.8rem;
  background-color: #cec2b3;
}

.certificate-title {
  display: inline-block;

  @include Medium-size {
    display: block;
  }
}

.table-title,
.form-title {
  color: #565759;
  letter-spacing: 0.02rem;
  line-height: 2em;
  font-weight: bold;

  @include Small-size {
    padding-bottom: calc(0.375rem + 0.063em);
  }
}

.form-text-position {
  .form-title {
    text-align: start;

    @include Medium-size {
      text-align: center;
    }
  }
}

.photo-upload {
  width: 9.375em;
  height: 11.25em;
  border: 0.063em #dee2e6 solid;
}

.form-title-wrap {
  white-space: nowrap;
}

.primary-nav {
  display: flex;
}

.primary-navbar-nav {
  display: flex;
  align-items: center;
  width: 100%;

  li {
    font-weight: bold;
    text-align: center;
    padding: 0.3rem 0;
    width: 100%;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;

    @include Medium-size {
      font-size: 1.2rem;
      padding: 0;
    }

    @include Large-size {
      width: 25%;
    }
  }

  .phone-login {
    width: 100%;
  }

  .language-btn-phone {
    @include Large-size {
      display: none;
    }

    font-size: 0.9em;
  }
}

.dropdown-menu {
  padding: 0;
  margin: 0;
}

.page-link {
  border: 0;

  &:hover {
    background-color: $light-ivory;
  }
}

.dropdown-item {
  &:hover {
    background-color: $primary;
    color: #fff;
  }
}

.login-tag {
  a {
    font-weight: bold;
    letter-spacing: 0.05rem;
  }

  .identity {
    font-size: 0.86rem;
    font-weight: bold;
  }
}

.login-status {
  span {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem;

    @include Large-size {
      font-size: 0.86rem;
    }
  }

  .span-block {
    @media (max-width: 30.438em) {
      display: block;
    }
  }
}

.file-function-btn-group {
  input {
    width: 4.375em;
  }

  button {
    width: auto;

    @include Medium-size {
      width: 3.75em;
    }
  }
}

.scroll-content {
  overflow: scroll;
  height: 25em;

  @include Medium-size {
    height: 50em;
  }
}

.scroll-list {
  overflow: scroll;
  height: 55.6875em;
}

.file-content {
  height: 28.125em;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.nav-link {
  width: 100%;

  @include Large-size {
    width: auto;
  }

  @include Large-size {
    padding: 0;
  }
}

.nav-link-width {
  @include Large-size {
    width: 12em;
    text-align: center;
  }

  @include Extra-large {
    width: auto;
  }
}

.nav-logo {
  .ROC-title {
    font-size: 0.7rem;
    letter-spacing: 0;
  }

  .eg-title {
    margin-top: -0.5em;
    display: none;

    @include Small-size {
      display: block;
    }
  }

  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.12rem;

    @include Small-size {
      font-size: 1.2rem;
    }

    @include Medium-size {
      font-size: 1.4rem;
    }

    @include Extra-large {
      font-size: 1.8rem;
    }
  }
}

.index-bg {
  background-position: center;
  background-size: cover;
  background-image: url(../img/index-bg-sm.png);
  background-repeat: no-repeat;
  background-position-y: bottom;

  @include Medium-size {
    background-position: right;
    background-size: contain;
    background-image: url(../img/index-bg.png);
  }
}

.header-bg {
  display: none !important;
  padding-bottom: 1.02em;
  padding-top: 0.938em;

  @include Large-size {
    display: block !important;
  }

  background-image: url(../img/architectlic_header_bg.svg);
  background-repeat: no-repeat;
  background-size: auto 10em;
  background-position-y: top;
  background-position: right;

  .logo-img {
    width: 12%;
    margin-right: 2%;
  }
}

.index-header-bg {
  display: block !important;
}

.header-border {
  border-bottom: 0.6em solid #4a955b;
}

.user-content {
  text-align: end;
}

.phone-title {
  text-align: center;
  width: 80%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.1em;

  img {
    height: 2em;
    margin-right: 1%;
    margin-top: 2%;
    margin-right: 2%;

    // @include Small-size {
    //   height: 1.875em;
    // }

    @include Medium-size {
      margin-left: 10%;
    }
  }

  .nav-logo {
    margin-top: 3%;
  }

  font-size: 1.2rem;

  @include Medium-size {
    font-size: 1.5rem;
  }

  @include Large-size {
    width: 0;
    display: none;
  }
}

.phone-login {
  @include Large-size {
    display: none;
  }

  .login-tag {
    font-size: 1rem;

    @include Medium-size {
      font-size: 1.1rem;
    }
  }

  .login-status {
    padding-top: 0.5rem;

    span {
      display: block;
      margin-top: 0.25rem;
    }
  }
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;

  @include Medium-size {
    font-size: 1.7rem;
  }
}

.introduction-article {
  text-align: center;
}

.application-contant {
  color: rgb(45, 45, 45);
  width: 85%;

  .introduction-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 0.2em;
    border-bottom: 0.1em solid #cec2b3;
    margin-bottom: 0.5em;
    line-height: 2em;
    color: #856237;
  }

  .article-title {
    font-weight: bold;
    font-size: 1.15em;
    letter-spacing: 0.05rem;
    margin-bottom: 0.2em;
    color: #0b6e4f;
  }

  .article-group-bg {
    background-color: #ffffffd4;
    box-shadow: 0 0.15rem 0.8rem rgba(0, 0, 0, 0.075);
  }

  p {
    line-height: 1.7rem;
    letter-spacing: 0.02rem;
  }
}

.modal-contant {
  .article-title {
    font-weight: bold;
    letter-spacing: 0.05rem;
  }

  p {
    line-height: 1.7rem;
    letter-spacing: 0.02rem;
  }
}

.file-list {
  input {
    margin-bottom: 0 !important;
  }

  .form-check-input {
    margin-top: 0;
  }

  img {
    width: 1.563em;
  }
}

.thead-style {
  background-color: #ececec;
  border-bottom: 0.188em solid #fff;

  th {
    white-space: nowrap;
  }
}

.page-text {
  text-align: center;
  letter-spacing: 0.2rem;
}

.page-btn {
  @include Small-size {
    display: none;
  }
}

.card-table {
  padding: 2.5rem;
  padding-top: 1rem;
}

.tbody-list {
  td {
    vertical-align: center;
  }
}

.table-style {
  width: 100%;

  a {
    color: #8f530b;
  }

  tbody {
    padding: 1.5rem !important;
  }

  th {
    padding-right: 0.938em;
    padding-left: 0.938em;
  }

  th,
  td {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-bottom: 0.063em #dee2e6 solid;
  }

  .no-border {
    border: 0;
  }
}

.service-span-block {
  display: block;
}

.service-paper-download {
  font-weight: 400;
  text-decoration: underline !important;
  cursor: pointer;
}

.download-link {
  color: #52504a;
  font-size: 1.1em;
  letter-spacing: 0.1em;

  &:hover {
    color: #603126;
  }
}

.form-style {
  select {
    margin-bottom: 0.5rem;
  }

  .form-border {
    border-bottom: 0.063em #dee2e6 solid;
  }

  .form-border-display {
    border-bottom: none;

    @include Medium-size {
      border-bottom: 0.063em #dee2e6 solid;
    }
  }

  .signin-box-border {
    border-bottom: 0.063em #fff solid;
  }
}

.signin-card {
  border: 0.625em solid #fff;
}

.alert-bg {
  background-color: $light-ivory;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}

.search-form {
  display: flex;
  justify-content: center;

  label {
    margin-top: 0.5rem;
    width: 6.25em;
    text-align: right;
    margin-right: 0.5rem;

    @include Large-size {
      text-align: left;
    }
  }

  .input-style {
    @include Large-size {
      width: 100%;
    }
  }
}

.search-form-btn {
  @include Large-size {
    display: flex;
    justify-content: center;
    height: 2.25em;
  }

  @include Medium-size {
    height: auto;
  }
}

.check-td-btn {
  a {
    width: 7.5em;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
  }
}

.td-list-item {
  display: flex;
  justify-content: space-between;

  @include Extra-large {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.count-btn {
  width: 2.5em;
}

.modal-content,
.modal-footer {
  border: 0;
}

.modal-title {
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
}

.title-label {
  width: 0.2em;
  height: 1em;
  margin-right: 1%;

}

.new-application-bg {
  background-color: #4a646d !important;
}

.new-application-border {
  border-bottom: solid 0.15em #4a646d;
}

.new-application-text {
  color: #4a646d;
  font-size: 1.1em;
}

.application-btn {
  width: 13em;
  padding: 0.6em;
  font-size: 1.3em;
  color: #fff;
  background-color: #0b6e4f;
  border-color: #0b6e4f;

  &:hover {
    background-color: #004216;
    border-color: #004216;
    color: #fff;
  }
}

.change-application-bg {
  background-color: #2e5199 !important;
}

.change-application-border {
  border-bottom: 0.15em solid #2e5199;
}

.change-application-text {
  color: #2e5199;
  font-size: 1.1em;
}

.pay-text {
  font-size: 1.1em;
  color: #557223;
}

.pay-border {
  border-bottom: 0.15em solid #557223;
}

.pay-bg {
  background-color: #557223 !important;
}

.disagree-application-bg {
  background-color: #7a2e48 !important;
}

.disagree-application-border {
  border-bottom: 0.15em solid #7a2e48;
}

.disagree-application-text {
  font-size: 1.1em;
  color: #7a2e48;
}

.comparison-bg {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: #fff;
  padding: 1em;
  box-sizing: border-box;
}